
<div class="container">
  <h1>Registration Form</h1>
  <form #register="ngForm" (ngSubmit)="register.form.valid && registrationValue()" >
      <div class="mb-3">
          <label for="fname" class="form-label" >First Name</label>
          <input type="text" name="fname" id="fname" class="form-control" #fname="ngModel" placeholder="First Name" 
          [(ngModel)]="form.fname" required maxlength="32" 
          [ngClass]="{error:fname.errors && fname.touched}">

          <div *ngIf="fname.errors && fname.touched">
            <small class="text-danger" *ngIf="fname.errors['required']">First Name is required</small>
            <small class="text-danger" *ngIf="fname.errors['maxlength']">Maximum 32 Charecter are allowed</small>
          </div>
      </div>

      <div class="mb-3">
        <label for="lname" class="form-label">Last Name</label>
        <input type="text" name="lname" id="lname" class="form-control" #lname="ngModel" placeholder="Last Name" [(ngModel)]="form.lname">
      </div>
      <div class="mb-3">
        <label for="age" class="form-label">Age</label>
        <input type="number" name="age" id="age" class="form-control" #age="ngModel" [(ngModel)]="form.age" placeholder="Enter your Age"
        required min="18" max="60" [pattern]="integerRegex">
        <div *ngIf="age.errors && age.touched ">
          <small class="text-danger" *ngIf="age.errors['required']">Age is required</small>
          <small class="text-danger" *ngIf="age.errors['min'] || age.errors['max'] ">Only Age range 18 to 60 years</small>
        </div>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" id="email" class="form-control" #email="ngModel" placeholder="Email" 
        [(ngModel)]="form.email" required [pattern]="emailRegex"
        [ngClass]="{error:email.errors && email.touched}">
        <div *ngIf="email.errors && email.touched">
          <small class="text-danger" *ngIf="email.errors['required']">Email is required</small>
          <small class="text-danger" *ngIf="email.errors['pattern']">Please enter a valid email</small>
        </div>
      </div>

      <div class="mb-3">
        <label for="contact" class="form-label">Contact</label>
        <input type="text" name="contact" id="contact" class="form-control" #contact="ngModel" placeholder="Contact Number" 
        [(ngModel)]="form.contact" required [pattern]="integerRegex" minlength="11" maxlength="11"
        [ngClass]="{error:contact.errors && contact.touched}"> 
        <div *ngIf="contact.errors && contact.touched">
          <small class="text-danger" *ngIf="contact.errors['required']">contact is required</small>
          <small class="text-danger" *ngIf="contact.errors['minlength'] || contact.errors['maxlength']">Contact number must be 11 digit</small>
        </div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" id="password" class="form-control" #password="ngModel" placeholder="password" 
        [(ngModel)]="form.password" required minlength="8" maxlength="18" 
        [ngClass]="{error:password.errors && password.touched}">
        <div *ngIf="password.errors && password.touched ">
          <small class="text-danger" *ngIf="password.errors['required']">Password is required</small>
          <small class="text-danger" *ngIf="password.errors['minlength']">Minimum 8 Alphanumeric are allowed</small>
          <small class="text-danger" *ngIf="password.errors['maxlength']">Maximum 18 Alphanumeric are allowed</small>
        </div>
      </div>

      <input type="submit" value="Submit" class="btn btn-primary" [disabled]="register.form.status==='INVALID'">
  </form>
</div>